<ion-content class="ion-padding">
  <div class="upper">
    <div class="icon">
      <ion-icon class="person-outline"></ion-icon>
    </div>
    <p id="login"> Register </p>
  </div>

  <div class="middle">
    <div class="box">
      <form #registerform="ngForm">
        <ion-row class="ion-justify-content-center">
        <p>Please Enter Your Data To Register</p>
       </ion-row>

        <ion-item>
          <ion-label position="floating">User Name</ion-label>
          <ion-input type="text" placeholder="User Name" name="user"></ion-input>
          <ion-icon slot="end" name="person-outline" class="ion-align-self-center"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Full Name </ion-label>
          <ion-input type="text" placeholder="Name" name="name"></ion-input>
          <ion-icon slot="end" name="person-outline" class="ion-align-self-center"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Email Address </ion-label>
          <ion-input type="email" placeholder="Email" name="email" [(ngModel)]="user.email"></ion-input>
          <ion-icon slot="end" name="person-outline" class="ion-align-self-center"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating"> Password </ion-label>
          <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="user.password"></ion-input>
          <ion-icon slot="end" name="person-outline" class="ion-align-self-center"></ion-icon>
        </ion-item>

        <br>

        <div class="btn">
          <ion-button expand="block" fill="clear" shape="round" routerLink="/home">
            Register
          </ion-button>
        </div>
      </form>
    </div>
  </div>

</ion-content>
