<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button>Regresar</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Dispositivos de cuarto de Visitas</ion-card-title>
    </ion-card-header>

    <ion-card-content></ion-card-content>

    <ion-card-subtitle>Gris = Apagado | Azul = Encendido</ion-card-subtitle>

    <ion-card-content></ion-card-content>

    <ion-item>
      <ion-label>Foco 1</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Foco 2</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Ventilador 1</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Ventilador 2</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-card>

</ion-content>
